@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #181823;
}


/* ------ HEADER -------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #181823;
}

header h1 {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    margin-left: 20px;
}

header span {
    color: coral;
}

nav {
    padding: 15px 30px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: bolder;
}

nav ul li a:hover {
    color: coral;
    padding-bottom: 24px;
    transition: 0.5s;
}

.nav-btn button {
    background-color: coral;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 20px;
    border-style: none;
    width: 150px;
    height: 37px;
    text-align: center;
}

.nav-btn button:hover {
    background-color: rgb(252, 103, 49);
}


/* ------ HOME -------- */

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 100px;
    background-color: #181823;
    background-size: cover;
}

#hero-greeting {
    margin-left: 40px;
}

#hero-greeting h4 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-bottom: 12px;
}

#hero-greeting h1 {
    margin-bottom: 30px;
    font-size: bold;
    font-size: 36px;
    color: coral;
}

#hero-greeting p {
    margin-bottom: 20px;
    color: white;
}

#hero-greeting p span {
    color: coral;
}

#hero-btn button {
    background-color: coral;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 20px;
    border-style: none;
    width: 140px;
    height: 40px;
}

#hero-btn button:hover {
    background-color: rgb(252, 103, 49);
}


/* ------ ABOUT -------- */

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    padding-bottom: 100px;
    background-color: #181823;
    background-size: 100%;
}

#aboutme {
    padding-right: 40px;
}

#aboutdesc h1 {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    border-left: 6px solid coral;
    font-size: 36px;
}

#aboutdesc #greeting {
    margin-bottom: 30px;
    color: coral;
    font-size: 24px;
    font-weight: 700;
}

#aboutdesc p {
    margin-bottom: 20px;
    line-height: 30px;
    color: white;
}

#resume button {
    background-color: coral;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
    border-style: none;
    width: 170px;
    height: 45px;
}

#resume button:hover {
    background-color: rgb(252, 103, 49);
}