@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* ------ HEADER -------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #181823;
}

header h1 {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    margin-left: 20px;
}

header span {
    color: coral;
}

nav {
    padding: 15px 30px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: bolder;
}

nav ul li a:hover {
    color: coral;
    padding-bottom: 24px;
    transition: 0.5s;
}

.nav-btn button {
    background-color: coral;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 20px;
    border-style: none;
    width: 150px;
    height: 37px;
    text-align: center;
}

.nav-btn button:hover {
    background-color: rgb(252, 103, 49);
}